{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoryprestation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoryPrestation.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ categoryPrestation.libelle }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ categoryPrestation.type }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ categoryPrestation.parentId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_prestation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('category_prestation_edit', { 'id': categoryPrestation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
