{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statutsocials list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Numentreprise</th>
                <th>Numagregation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statutSocial in statutSocials %}
            <tr>
                <td><a href="{{ path('statutsocial_show', { 'id': statutSocial.id }) }}">{{ statutSocial.id }}</a></td>
                <td>{{ statutSocial.libelle }}</td>
                <td>{{ statutSocial.numEntreprise }}</td>
                <td>{{ statutSocial.numAgregation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('statutsocial_show', { 'id': statutSocial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('statutsocial_edit', { 'id': statutSocial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('statutsocial_new') }}">Create a new statutSocial</a>
        </li>
    </ul>
{% endblock %}
