{% extends "widget-admin.html.twig" %}

{% block body %}
    <h1>Statutsocials list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Numentreprise</th>
                <th>Numagreation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statutSocial in statutSocials %}
            <tr>
                <td><a href="{{ path('statut_social_show', { 'id': statutSocial.id }) }}">{{ statutSocial.id }}</a></td>
                <td>{{ statutSocial.name }}</td>
                <td>{{ statutSocial.numEntreprise }}</td>
                <td>{{ statutSocial.numAgreation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('statut_social_show', { 'id': statutSocial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('statut_social_edit', { 'id': statutSocial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('statut_social_new') }}">Create a new statutSocial</a>
        </li>
    </ul>
{% endblock %}
