{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statutsocial</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statutSocial.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ statutSocial.libelle }}</td>
            </tr>
            <tr>
                <th>Numentreprise</th>
                <td>{{ statutSocial.numEntreprise }}</td>
            </tr>
            <tr>
                <th>Numagregation</th>
                <td>{{ statutSocial.numAgregation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('statutsocial_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('statutsocial_edit', { 'id': statutSocial.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
