{% extends "widget-admin.html.twig" %}

{% block body %}
            <a class="btn btn-primary btn-fw" href="{{ path('service_new') }}">Create a new service</a>
              <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Statut socials</h4>
                  <div class="table-responsive">
                    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Parentid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.id }}</a></td>
                <td>{{ service.name }}</td>
                <td>{{ service.type }}</td>
                <td>{{ service.parentId }}</td>
                <td>
                            <a href="{{ path('service_show', { 'id': service.id }) }}">show</a>
                        </td>
                        <td>
                            <a href="{{ path('service_edit', { 'id': service.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                          </div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}
